{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <title>NEO TODO</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://fav.farm/🔥" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/main.css" rel="stylesheet" />
    {{/* TODO: use local file instead */}}
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="flex flex-col items-center justify-center bg-yellow-300 text-white"
  >
    <div
      class="mt-5 flex flex-col justify-center border-2 border-gray-950 bg-white p-5 text-gray-950"
    >
      <div class="flex justify-between">
        <h1 class="text-3xl font-bold text-red-300">NEO TODO</h1>
        <a
          href="https://github.com/shootex/neo-todo"
          class="cursor-pointer text-sm text-blue-400 underline decoration-2"
          >github</a
        >
      </div>
      <p>Simple todo app using go, htmx, tailwind & more</p>
    </div>
  </body>
</html>
{{ end }}
