{{ define "index" }}
<!doctype html>
<html lang="en">
  <head>
    <title>NEO TODO</title>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://fav.farm/🔥" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="static/main.css" rel="stylesheet" />
    {{/* TODO: use local file instead */}}
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1 class="text-2xl text-red-500">Hello, {{.}}!</h1>
    <pre>from template</pre>

    <div hx-get="/api/hello" id="replace">REPLACE ME PLEAASE!</div>
    <button
      class="rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700"
      hx-get="/api/hello"
      hx-trigger="click"
      hx-target="#replace"
    >
      Click Me To Replace
    </button>
  </body>
</html>
{{ end }}
